HELP.md
target/
**/target/
.mvn/wrapper/maven-wrapper.jar
**/.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Internal Dev Notes ###
notes.md

### Frontend build artifacts ###
# --- Node.js / Frontend ---
node_modules/
**/node_modules/
dist/
build/
**/dist/
**/build/

### Backend build artifacts ###
rest/target/
rest/.mvn/
rest/node_modules/

### Logs ###
*.log

### Environments / secrets ###
.env
*.env

### OS & IDE ###
.DS_Store
.idea/
./C02